.more-btn{
    height:42px;
    width:640px;
    background-color:#FFF;
    margin:0 auto;
    border-radius:6px;
    border-color:#d3d3d3;
    border-width:1px;
    margin-left: 23px;
    margin-top: 20px;
}
.more-btn:focus{
    outline: none;
    /* -webkit-outline-radius: 6px; */
}
.not-a{
    text-decoration: none;
    color: #333;
}