/*功能图标*/
.cribu-img{
    width:21px;
    height:17px;
    margin-right:10px;
    margin-top: 5px;
}

#heart,#plane,#flag{
    margin-right:10px;
    margin-top: 5px;
    height:17px;
}
#heart{
    width:18px;  
}
#plane{
    width:17px;
}
#flag{
      width:17px;  
}
.list-arrow-btn{
    width:22px;
    height:5px;
    margin-right:10px;
    margin-top: 10px;
}

.context{
    margin-bottom:25px;
    font-size: 16px;
    color: #666;
    display: inline-block;
    line-height: 2;
}

.date{
    white-space:pre-line;
    letter-spacing: 0.5px;
}

.update-div>span,.cribu{
    color: #8590a6;
}

@media screen and (min-device-width:1000px){
.item{
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 35px;
    /* padding-left: 20px; */
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #eee;
    height:auto;
    margin-left: 20px;
    width: 646px;
}
.title{
    margin-bottom:25px;
    font-size: 18px;
    color: #333;
}
.context{ 
    width: 580px;
}
/*包含头像，姓名等状态文本*/
.topic-status{
    margin-bottom:30px;
    display: flex;
    align-items: center;
}
.list-avatar{
    width:30px;
    height:30px;
    border-radius:50%;
    background:gray;
    margin-right: 15px;
}
.name,.date{
   font-size: 16px;
   color: #8590a6;
}
.name{
    margin-right:25px;
    letter-spacing: 1.5px;
}
.date{
    margin-right:40px;
}
.update-div{
  margin-right: 40px;
  display: flex
}
/*投稿的div*/
.cribu-div{
    display:inline-block;
    height:25px;
    display:flex;
}
/*投稿图标*/


.cribu{
    margin-top:2px;
}
.update-group{
    display:inline-block;
    height:25px;
    display:flex;
}

}

@media screen and (max-device-width:999px) and (min-device-width:768px){
    .item{
        display: flex;
        flex-direction: column;
        background: white;
        margin-top: 35px;
        /* padding-left: 20px; */
        border-bottom-style: solid;
        border-width: 2px;
        border-color: #eee;
        height:auto;
        margin-left: 28px;
        width: 566px;
    }
    .title{
        margin-bottom:25px;
        font-size: 18px;
        color: #333;
    }
    .context{
        width: 566px;
    }
    /*包含头像，姓名等状态文本*/
    .topic-status{
        margin-bottom:30px;
        display: flex;
        align-items: center;
    }
    .list-avatar{
        width:30px;
        height:30px;
        border-radius:50%;
        background:gray;
        margin-right: 15px;
    }
    .name,.date{
       font-size: 16px;
       color: #8590a6;
    }
    .name{
        margin-right:25px;
        letter-spacing: 1.5px;
    }
    .date{
        margin-right:45px;
    }
    .update-div{
      margin-right: 30px;
      display: flex
    }
    /*投稿的div*/
    .cribu-div{
        display:inline-block;
        height:25px;
        display:flex;
    }
  
    .cribu{
        margin-top:2px;
    }
    .update-group{
        display:inline-block;
        height:25px;
        display:flex;
    }
 
}

@media screen and (max-device-width:767px){
    .item{
        display: flex;
        flex-direction: column;
        background: white;
        margin-top: 16px;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #eee;
        height:auto;
        width: 100%;
    }
    .title{
        margin-bottom: 16px;
        font-size: 18px;
        color: #333;
        line-height: 1;
    }
    .context{
        font-size: 14px;
        width: 100%;
        margin-bottom: 16px;
    }
    /*包含头像，姓名等状态文本*/
    .topic-status{
        margin-bottom:17.5px;
        display: flex;
        align-items: center;
    }
    .list-avatar{
        width:17px;
        height:17px;
        border-radius:50%;
        background:gray;
        margin-right: 10px;
        margin-top: 4px;
    }
    .name,.date{
       font-size: 12px;
       color: #8590a6;
    }
    .name{
        margin-right:15px;
        letter-spacing: 1.5px;
    }
    .date{
        margin-right: 15px;
        margin-top: 5px;
    }
    .update-div{
      margin-right: 20px;
      display: flex
    }
    /*投稿的div*/
    .cribu-div{
        display:inline-block;
        height:25px;
        display:flex;
    }
    /*投稿图标*/
    .cribu-img{
        width:17px;
        height:13px;
        margin-top: 8px;
    }

    
#heart{
    width:14px;
    height:13px;
    margin-top: 9px;
}
#plane{
    width:14px;
    height:14px;
    margin-top: 8px;
}
#flag{
      width:14px;
    height:14px;
    margin-top: 9px
}

    .cribu{
        font-size: 11px;
        margin-top: 2px;
    }
    .update-group{
        display:inline-block;
        height:25px;
        display:flex;
    }
    .update-div>.cribu-img{
        width:17px;
        height:17px;
        margin-right:5px;
        margin-top: 5px;
    }
    .update-div>span{
        margin-top: 3px;
        font-size:10px;
    }
    .list-arrow-btn{
        width:14px;
        height:3px;
    }
}