*{
    margin: 0;
  }

  .app-not-a{
    color:rgb(102,102,102);
    text-decoration:none;
   }
  
  @media screen and (min-device-width:1000px){
  ul.naviList{
    list-style-type: none;
    height: 40px;
    margin-top: 10px;
    width: 568px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0;
    margin-left: 20px;
    font-size: 16px;
    color:#666;
  }
  ul.naviList>li{
    display: inline-block
  }
 

.logo-btn{
  width: 126px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFF;
  border-style: solid;
  border-color: #ededed;
  border-width: 1px;
  display: flex;
  padding: 0;
  align-items: center;
  font-size: 16px;
}
.logo-btn:focus{
  outline-style: none;
  /* background-color: gray; */
}
.logo-btn>div{
  width: 40px;
  height: 40px;
  background-color: #000;
  margin-right: 15px;
  border-radius: 50%;
}
.logo-btn>div>img{
  width: 24px;
  height: 24px;
  margin-top: 8px;
}
header{
  height:60px;
  width:100%;
  /* background:yellow; */
  border-bottom-style:solid;
  border-width: 1px;
  border-color: #ededed;
}
header>div{
  height:100%;
  width:1000px;
  margin:0 auto;
  
  overflow: hidden;
  position: relative;
}
.login-btn{
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 16px;
  color: #666;
  background-color: transparent;
  border-style: none;
}

.isHide{
  display: none;
}
ul.naviList-iphone{
  display: none;
}

}

@media screen and (max-device-width:999px) and (min-device-width:768px){
  ul.naviList{
    list-style-type: none;
    height: 40px;
    margin-top: 10px;
    width: 732px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0;
    margin-left: 28px;
    font-size: 16px;
    color:#666;
  }
  ul.naviList>li{
    display: inline-block
  }


.logo-btn{
  width: 126px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFF;
  border-style: solid;
  border-color: #ededed;
  border-width: 1px;
  display: flex;
  padding: 0;
  align-items: center;
  font-size: 16px;
}
.logo-btn:focus{
  outline-style: none;
  /* background-color: gray; */
}
.logo-btn>div{
  width: 40px;
  height: 40px;
  background-color: #000;
  margin-right: 15px;
  border-radius: 50%;
}
.logo-btn>div>img{
  width: 24px;
  height: 24px;
  margin-top: 8px;
}
header{
  height:60px;
  width:100%;
  /* background:yellow; */
  border-bottom-style:solid;
  border-width: 1px;
  border-color: #ededed;
}
header>div{
  height:100%;
  width:100%;
  margin:0 auto;
  /* background: pink; */
  overflow: hidden;
  position: relative;
}
.login-btn{
  position: absolute;
  top: 13px;
  right: 0px;
  font-size: 16px;
  color: #666;
  background-color: transparent;
  border-style: none;
  margin-right: 8px;
}
.isHide{
  display: none;
 }
 ul.naviList-iphone{
   display: none;
 }

}

@media screen and (max-device-width:767px){
  ul.naviList{
      display: none;
  }
.logo-btn{
  width: 92.5px;
  height: 30px;
  border-radius: 20px;
  background-color: #FFF;
  border-style: solid;
  border-color: #ededed;
  border-width: 1px;
  display: flex;
  padding: 0;
  align-items: center;
  font-size: 13px;
  margin-left: 17px;
  /* margin-top: 10px; */
}
.logo-btn:focus{
  outline-style: none;
  /* background-color: gray; */
}
.logo-btn>div{
  width: 30px;
  height: 30px;
  background-color: #000;
  margin-right: 7px;
  border-radius: 50%;
 
}
.logo-btn>div>img{
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
header{
  height:auto;
  width:100%;
  /* background:yellow; */
  border-bottom-style:solid;
  border-width: 1px;
  border-color: #ededed;
}
header>div{
  height:60px;
  width:100%;
  margin:0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom-style: solid;
    border-color: rgb(238,238,238);
    border-width: 1px;
}
.login-btn{
  position: absolute;
  top: 15.5px;
  right: 17px;
  font-size: 13px;
  color: #666;
  background-color: transparent;
  border-style: none;
  padding-right: 0px;
  /* width:100%;
  background: red; */
}
ul.naviList-iphone{
  list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    height: 60px;
    align-items: center;
    
    color: rgb(102,102,102)
}
ul.naviList-iphone>li{
  display: inline-block;
}
.app-not-a{
  font-size: 14px
 }

}